{% extends 'base.html' %}
{% block content %}
<div class="dashboard-shell">
  <aside class="sidebar">
    <span class="sidebar-title">Administration</span>
    <a class="{% block nav_dashboard %}{% endblock %}" href="{% url 'core:dashboard' %}">Vue d'ensemble</a>
    {% if user.is_administrator %}
      <a class="{% block nav_subscribers %}{% endblock %}" href="{% url 'subscribers:list' %}">Abonnés</a>
      <a class="{% block nav_segments %}{% endblock %}" href="{% url 'subscribers:segment_list' %}">Segments</a>
    {% endif %}
    <a class="{% block nav_newsletters %}{% endblock %}" href="{% url 'newsletters:list' %}">Newsletters</a>
    <a class="{% block nav_campaigns %}{% endblock %}" href="{% url 'newsletters:campaign_list' %}">Campagnes</a>
    <a class="{% block nav_statistics %}{% endblock %}" href="{% url 'core:statistics' %}">Statistiques</a>
    {% if user.is_administrator %}
      <a class="{% block nav_audit %}{% endblock %}" href="{% url 'core:audit_log' %}">Journal d'audit</a>
      <a href="{% url 'admin:index' %}">Administration Django</a>
    {% endif %}
  </aside>
  <section class="dashboard-content">{% block dashboard_content %}{% endblock %}</section>
</div>
{% endblock %}